.vscode/tasks.json
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/LinearSVM.sln
build/LinearSVM.vcxproj
build/LinearSVM.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-f09787455d05cb0d7832.json
build/.cmake/api/v1/reply/cmakeFiles-v1-b92e723f43bb4f69ee14.json
build/.cmake/api/v1/reply/codemodel-v2-103cc5dba5a70f544eef.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2024-02-20T01-57-03-0791.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-9dfc00f13746f0744cb8.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-9dfc00f13746f0744cb8.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-9dfc00f13746f0744cb8.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-9dfc00f13746f0744cb8.json
build/.cmake/api/v1/reply/target-LinearSVM-Debug-a2e441b142453eb44d88.json
build/.cmake/api/v1/reply/target-LinearSVM-MinSizeRel-613f6e460805a4004fea.json
build/.cmake/api/v1/reply/target-LinearSVM-Release-f1c3f03fe814af18cccd.json
build/.cmake/api/v1/reply/target-LinearSVM-RelWithDebInfo-65eaa169848babca080a.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-b4d48e059d6147144efd.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-b4d48e059d6147144efd.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-b4d48e059d6147144efd.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-b4d48e059d6147144efd.json
build/.cmake/api/v1/reply/toolchains-v1-720d195b50ce2e11db79.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.0-rc5/CMakeCCompiler.cmake
build/CMakeFiles/3.28.0-rc5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.0-rc5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.0-rc5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.0-rc5/CMakeRCCompiler.cmake
build/CMakeFiles/3.28.0-rc5/CMakeSystem.cmake
build/CMakeFiles/3.28.0-rc5/VCTargetsPath.txt
build/CMakeFiles/3.28.0-rc5/VCTargetsPath.vcxproj
build/CMakeFiles/3.28.0-rc5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.28.0-rc5/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.28.0-rc5/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.28.0-rc5/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.28.0-rc5/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.28.0-rc5/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.28.0-rc5/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.28.0-rc5/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.28.0-rc5/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/8ca532f420f3d5db09a19bd50dede1a3/generate.stamp.rule
build/Debug/LinearSVM.exe
build/Debug/LinearSVM.pdb
build/Debug/result.png
build/LinearSVM.dir/Debug/LinearSVM.exe.recipe
build/LinearSVM.dir/Debug/LinearSVM.ilk
build/LinearSVM.dir/Debug/main.obj
build/LinearSVM.dir/Debug/vc143.pdb
build/LinearSVM.dir/Debug/LinearSVM.tlog/CL.command.1.tlog
build/LinearSVM.dir/Debug/LinearSVM.tlog/CL.read.1.tlog
build/LinearSVM.dir/Debug/LinearSVM.tlog/CL.write.1.tlog
build/LinearSVM.dir/Debug/LinearSVM.tlog/CustomBuild.command.1.tlog
build/LinearSVM.dir/Debug/LinearSVM.tlog/CustomBuild.read.1.tlog
build/LinearSVM.dir/Debug/LinearSVM.tlog/CustomBuild.write.1.tlog
build/LinearSVM.dir/Debug/LinearSVM.tlog/LinearSVM.lastbuildstate
build/LinearSVM.dir/Debug/LinearSVM.tlog/link.command.1.tlog
build/LinearSVM.dir/Debug/LinearSVM.tlog/link.read.1.tlog
build/LinearSVM.dir/Debug/LinearSVM.tlog/link.write.1.tlog
build/Testing/TAG
build/Testing/20240220-0245/Test.xml
build/Testing/Temporary/CTestCostData.txt
build/Testing/Temporary/LastTest_20240220-0245.log
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
